/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 :root {
   --yellow: #ffc600;
   --black: #272727;
   --celeste: #E0F7FA;
   --teal: rgba(46,87,103,.7);
   --militar-dark: rgba(47,55,58,1);
   --pale-orange: rgba(211,109,6,.8);
   --pale-pink: rgba(223,73,73,.9);
   --lettering: rgba(144,164,174,0.4);

 }


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

hr.thick {
    display: block;
    height: 5px;
    border: 0;
    border-top: 5px solid #1a1a1a;
    margin: 3em 0;
    padding: 0;
    width: 65%;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

.icn-sm {
  display:flex;
  justify-content:center;
  align-items: flex-start;
  padding-bottom: 10px;
}

@media only screen and (max-width: 767px) {
    .icn-sm {
      display:flex;
      justify-content:flex-start;
    }
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* large pics */

body {
  overflow-x: hidden;
}

img.wide {
  max-width: 100%;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  display:grid;
  justify-content: center;
  align-items: center;
}


/* ==========================================================================
   Header Style
   ========================================================================== */
/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after {
  content: " ";
   display: table;
 }

.clearfix:after {
  clear: both;
}

.menu-top {
	background-color: #1a1a1a;
	background-color: rgba(26, 26, 26, 1);
	text-transform: uppercase;
	position: fixed;
	width: 100%;
	font-size: 0.7em;
	line-height: 2.2;
	z-index: 50000;
	top: 0;
	left: 0;
}

.menu-top a {
	padding: 0 3.5em;
	letter-spacing: 0.1em;
	color: #fff;
	display: inline-block;
  text-decoration: none;
}

.menu-top a:hover {
  color: #fff;
	background: #D50000;
}

.menu-top span.right {
	float: right;
}

.menu-top span.right a {
	float: left;
	display: block;
}

@media screen and (max-width: 40em) {
  .menu-top {
        display:none;
        }
}

/* main title*/

.hero__header {
  text-align: center;
  margin: -15px 0 0 0;
}

.hero__header-b {
  text-align: center;
  margin: -15px 0 50px 0;
}

.hero__title + .hero__description {
  margin-top: -50px; }

.t-hero-title {
    font-size: 73px;
    font-weight: 700;
    color: #0f0f0f;
    line-height: 88px;
    letter-spacing: -0.02em; }

.t-hero-title span {
    font-size: 47px;
    line-height: 24px;
    font-weight: 400;
    color: rgba(26,26,26,.9);
    letter-spacing: -0.02em; }

h1.t-hero-title{
      line-height: .9em;
      margin-bottom: 1em;
}

.t-hero-description {
    font-family: "Monserrat", sans-serif;
    font-size: 23px;
    font-weight: 300;
    color: rgba(144,164,174,1);
    line-height: 30px;
    letter-spacing: 0.004em;
  }


@media only screen and (max-width: 767px) {
  .hero__header {
    display: flex;
    flex-direction: column; }

  .t-hero-title {
    padding-top: 1em;
    font-size: 53px;
    line-height: 43px; }

  .hero__title + .hero__description {
          line-height: 24px;
          margin-top: -20px;
          padding-left: 2.2em;
          padding-right: 2.2em;
    }
 }

@media only screen and (max-width: 374px) {
    .t-hero-title {
      padding-top: 1em;
      font-size: 32px; }

    .t-hero-title span {
        font-size: 24px; }

    .hero__title + .hero__description {
        font-size: 18px;
        margin-top: -15px;
        padding-left: 1em;
        padding-right: 1em;
      }
}

/* ==========================================================================
       Main Nav
========================================================================== */

.dont-render-dawg {
  position: absolute;
  height: 0;
  width: 0;
}

.main-nav {
  background: #eee;
  box-sizing: border-box;
  font-family: "Oswald", Helvetica, sans-serif
}
.main-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  list-style: none;
}
.main-nav a {
  padding: 1.25rem 0.5rem;
  font-size: 1rem;
  width: 275px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: flex-start;
  color: #333;
}
.main-nav a:hover, .main-nav a:focus {
  background: #ccc;
  color: black;
}
.main-nav a:hover svg, .main-nav a:focus svg {
  fill: var(--pale-pink);
}

.main-nav li:nth-child(2) a:hover svg {
  fill: rgba(211,109,6,1);
}

.main-nav li:nth-child(3) a:hover svg {
  fill: rgba(255,0,0,.8);
}

.main-nav li:nth-child(4) a:hover svg {
  fill: rgba(0,182,237,1);
}

.main-nav li:nth-child(5) a:hover svg {
  fill: rgba(120,144,156,1);
}

.main-nav a:hover span, .main-nav a:focus span {
  color: black;
}

.main-nav li.active {
  display:none;
}
.main-nav span {
  display: block;
  font-size: .8rem;
  font-weight: normal;
  color: #888;
  margin: 0.25rem 0 0 0;
}
.main-nav .icon {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 1rem;
  fill: #999;
}
.main-nav.outlines * {
  outline: 1px solid rgba(255, 0, 0, 0.5);
}

.options {
  text-align: center;
  padding: 2rem 0;
}
.options select {
  margin-right: 2rem;
}

@media (min-width: 1000px) {
  .main-nav a {
    max-width: 500px;
    font-size: 1.3rem;
  }
  .main-nav .icon {
    width: 25px;
    height: 25px;
  }
}

/* ==========================================================================
       Premiere classes
========================================================================== */    .premiere-bg {
      background-color: rgba(238,145,11,1);
    }

    .raw {
      background-color: rgba(255,179,0,.5);
      background-image: url('https://res.cloudinary.com/magnvs/image/upload/v1520244299/clio-1_aqq65f.jpg');
      background-blend-mode:luminosity;
      background-size: cover;
      padding:0;
      min-height: 400px;
    }

    .redonda {
      margin:30px;
      width:275px;
      float:right;
    }

    img.shadow {
       max-width: 90%;
    	 margin-bottom: 0.5em;
       border-radius: 50%;
       -webkit-box-shadow: 6px 7px 13px -6px rgba(0,0,0,0.75);
       -moz-box-shadow: 6px 7px 13px -6px rgba(0,0,0,0.75);
       box-shadow: 6px 7px 13px -6px rgba(0,0,0,0.75);
     }

    div.premiere {
       	font-weight: 300;
        text-align: center;
        padding: 50px 20px;
       }

    .premiere > h1 {
        font-family: "Oswald", Helvetica, sans-serif;
        font-size: 3em;
        color: #fff;
        letter-spacing: 3px;
        line-height: 1.3em;
       }
    .premiere > h2 {
        font-family: "Oswald", Helvetica, sans-serif;
        font-size: 2.3em;
        color: rgba(255,255,255,.5);
        letter-spacing: 2.5px;
        }

    .premiere > h3 {
        font-size: 2.3em;
        color: #fff;
        letter-spacing: 1px;
            line-height: 1.2em;
      }

    .premiere > p {
       font-family: -apple-system, BlinkMacSystemFont, "Monserrat", Helvetica, sans-serif;
       font-size: 1.2em;
    }

    .premiere > ul {
           list-style: none;
           font-weight: 400;
          }

    .byline {
         font-size: 3.7em;
         color: rgba(248,54,0,0.7);

       }

@media screen and (max-width: 45em) {
       .premiere > h1 {
           font-family: "Oswald", Helvetica, sans-serif;
           font-size: 1.7em;
           letter-spacing: 2.5px;
           line-height: 1.3em;
          }
       .premiere > h2 {
           font-family: "Oswald", Helvetica, sans-serif;
           font-size: 1.4em;
           letter-spacing: 2.5px;
           }

       .premiere > h3 {
           font-size: 1.2em;
           line-height: 1em;
         }
       }
/* ==========================================================================
   GRIDS HEAD
   ========================================================================== */

.grid-head {
       display: grid;
       grid-template-columns: 1fr 20px 1fr 20px 1fr;
       grid-template-rows: 20px auto;
       grid-row-gap: 1em;
       margin-top: -2em;
       height: 275px;
   }

.grid-title {
      display:flex;
      align-content: flex-end;
}

.gt {
  height: auto;
  margin-top: 3em;
  margin-left: 1em;
  color:#154267;
  text-shadow:1px 1px 2px #607D8B;
  line-height: 1.2em;
}

.gh-full-width {
       grid-column: 1 / -1;
       grid-row: 1 / -1;
       margin-top: -.7em;
   }


.gh-full-width {
  background-image: url(../img/main-mus-light.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top 67px center;
}

.imago-top-minus {
  margin-top:-3em;
}

.imago-top-phantom {
    display: none;
}

.grid-head-b {
             display: grid;
             grid-template-columns: 350px 20px 1fr 20px 1fr;
             grid-template-rows: auto 100px 300px;
             grid-row-gap: 1em;
             margin-top: -2em;
             height: 275px;
         }

.grid-title-b {
          display:flex;
          align-content: center;
         }

.gt-b {
           height: auto;
           margin-top: .7em;
           margin-left: 1em;
           color:#154267;
           text-shadow:1px 1px 2px #607D8B;
           line-height: 1.2em;
         }

.gh-full-width-b{
          grid-column: 1 / -1;
          grid-row: 1 / -1;
          margin-top: 2em;
      }

.gh-full-width-b {
  background-image: url(../img/main-mus-light.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}

.imago-b {
    grid-column: 1 / 2;
    grid-row: 3;
}

.imago-top-b{
  margin-top:0;
}

@media screen and (max-width: 767px) {
  .grid-head {
         height: 165px;
         margin-top: -60px;
       }
  .grid-head-b {
        grid-template-columns: auto;
        height: 165px;
        margin-top: -33px;
        margin-bottom: 10em;
        }

  .gt, .gt-b {
        display:none;
       }
  .gh-full-width {
        background-image: cover;
        }
  .gh-full-width-b {
        background-image: contain;
              }
  .imago-top-minus {
        display: none;
        }

  .imago-b {
            grid-column: 1 / -1;
            grid-row: 3;
        }
  .imago-top-b{
          margin-top:0;
          width: 335px;
        }
  .imago-top-phantom {
      width: 100%;
      display:inline-block;
      margin-top: -3em;
        }
}

/* ==========================================================================
   Image grid ONE
   ========================================================================== */

   .contained-grid{
       margin:0 auto;
       max-width:1200px;
       padding:0
   }

  .imgrid {
       display: grid;
       grid-gap: 5px;
       grid-template-columns: repeat(auto-fit, minmax(234px, 1fr));
       grid-auto-rows: 200px;
       grid-auto-flow: dense;

   }

   .horizontal {
       grid-column: span 2;
   }

   .vertical {
       grid-row: span 2;
   }

   .big {
       grid-column: span 2;
       grid-row: span 2;
   }

/* ==========================================================================
      Image grid TWO
      ========================================================================== */

   section.pics{
     background-color: var(--militar-dark);
     padding: .2vw;
     font-size: 0;
     display: -ms-flexbox;
         flex-wrap: wrap;
     -moz-flex-wrap: wrap;
         flex-direction: column;
     -moz-flex-direction: column;
     -webkit-flex-flow: row wrap;
     flex-flow: row wrap;
     display: -webkit-box;
     display: flex;
   }
   section.pics div {
     -webkit-box-flex: auto;
     -ms-flex: auto;
     flex: auto;
     width: 200px;
     margin: .2vw;
   }
   section.pics div img {
     width: 100%;
     height: auto;
   }
   @media screen and (max-width: 400px) {
     section.pics div { margin: 0; }
     section.pics { padding: 0; }

   }
/* ==========================================================================
   MAIN GRID
   ========================================================================== */
.vertical-text {
    writing-mode: vertical-rl;
   	text-orientation: mixed;
    padding: 10px;
   }

.gridum {
     box-sizing: border-box;
     margin: 50px auto;
     display: grid;
     grid-gap: 0;
     grid-template-columns: 340px 210px 290px 370px 50px;
     grid-template-rows: 350px 250px 100px 50px 350px repeat(2, 430px) 310px;
     justify-content: center;
   }

.item > p {
  font-family: "Monserrat", Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 400;
  color:#1a1a1a;
}

.item1 {
  grid-column: 1 / 4;
  grid-row: 1 / 4;
}

.item2 {
    grid-column: 4 / -2;
    grid-row: 1 / 2;
    padding: 75px 30px 0 40px;
}

.item3 {
  grid-column: 5 / -1;
  grid-row: span 4;
}

.item4{
  grid-column: 4 / -2;
  grid-row: 2 / 5;
  padding-left: 40px;
}

.item5 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  background-color: #fff;
  padding: 15px;
}

.item6 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  background-color: rgb(211,109,6);
}

.item6-colonia {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  background-color: rgba(255,0,0,.8);
}

.item6-independencia {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  background-color: rgba(0,182,237,1);
}

.item7 {
  grid-column: 1 / 2;
  grid-row: 5;
}

.item8 {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  padding: 75px 30px 0 0;
}

.item9,
.item9-light {
  grid-column: 4 / -2;
  grid-row: 5 / 7;
  padding-left: 40px;
}


.item10 {
  grid-column: 2 / 4;
  grid-row: 6 / 7;
}

.item11 {
  grid-column: 2 / 4;
  grid-row: 7 / 8;
}

.item12 {
  grid-column: 2 / 4;
  grid-row: 8 / -1;
}

.item14 {
  grid-column: 4 / 5;
  grid-row: 7 / 8;
  padding: 15px 30px 0 40px;
}

.item15 {
  grid-column: 4 / 5;
  grid-row: 8 / -1;
}


@media screen and (max-width: 1200px){
 .vertical-text {
     padding: 0;
    }
 .vertical-text > h2{
   font-size: 1.5em;
     }
 .gridum {
      display: grid;
      grid-template-columns: 275px 200px 275px 350px 60px;
      grid-template-rows: 270px 200px 55px 65px 250px repeat(2, 410px) 210px;
      justify-content: center;
    }

  .item > p {
      font-family: "Monserrat", Helvetica, sans-serif;
      font-size: .9em;
      font-weight: 300;
    }
  .item2 {
    grid-column: 4 / -2;
    grid-row: 1 / 2;
    padding: 55px 20px 0 30px;
       }
   .item4 {
    padding-left: 30px;
       }
  .item8 {
         padding: 45px 0 0 0;
       }
    .item9 {
    padding: 10px 0 0 30px;
    overflow: hidden;
       }
   .item14 {
      padding: 20px 0 0 30px;
       }

    hr.thick {
        margin: .9em 0;
    }
}

@media screen and (min-width: 768px){
.sala-name {
  display:none;
}
}
@media screen and (max-width: 767px){
   .sala-name {
        margin-top: 50px;
        margin-bottom: 20px;
        padding: 10px 0;
      }
   .sala-name h2 {
        margin: 0;
        padding: 0;
        color: var(--militar-dark);
      }
   .icon-title {
        float:left;
        fill: var(--militar-dark);
        width: 2.9em;
        padding-left: 10px;
        margin:0;
      }
  .vertical-text {
      padding: 0;
     }
  .vertical-text > h2{
    font-size: 1.5em;
      }
  .gridum {
       margin: 0 auto;
       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: repeat(3, auto) 345px repeat(2, auto);
     }
  .item > p {
       font-family: "Monserrat", Helvetica, sans-serif;
       font-size: .9em;
       font-weight: 400;
       color:#1a1a1a;
     }
  .item1 {
       grid-column: 1 ;
       grid-row: 1 / 2;
       overflow: hidden;
     }

  .item2 {
         grid-column: 1 ;
         grid-row: 2 / 3;
         padding: 35px 10px;
     }

  .item4 {
       grid-column: 1 ;
       grid-row: 3 / 4;
       padding-left: 10px;
       padding-right: 10px;
       margin-bottom: 10px;
       overflow:hidden;
     }

  .item3,
  .item5,
  .item6,
  .item7,
  .item8,
  .item10,
  .item11,
  .item12 {
    display:none;
  }
  .item9 {
    grid-column: 1 ;
    grid-row: 4 / 5;
    padding: 0;
    background-color: var(--lettering);
    overflow:hidden;
  }
  .item9-light{
    grid-column: 1 ;
    grid-row: 4 / 5;
    padding: 0;
    background-color: #eee;
    overflow:hidden;
  }

  .item14 {
    grid-column: 1 ;
    grid-row: 5 / 6;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--lettering);
  }

  .item15 {
    grid-column: 1 ;
    grid-row: 6 / 7;
  }
  hr.thick {
      margin: .5em 0;
  }
  figure.logo-muni-grid {
    width: 250px;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
